/*
#FBF9F8 white
#e9d8e1 grey
#f353d5 hot pink
#88c9fa baby blue
#2b18a3 blue
*/

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: #2B18A3;
    background: -moz-linear-gradient(top, #88C9FA 0%, #F353D5 30%, #2B18A3 100%);
    background: -webkit-linear-gradient(top, #88C9FA 0%, #F353D5 30%, #2B18A3 100%);
    background: linear-gradient(to bottom, #88C9FA 0%, #F353D5 30%, #2B18A3 100%);
  line-height: 1.5;
  width: 100%;
  font-family: 'Nobile', sans-serif;
}

form {
  margin: 0 auto;
  text-align: center;
}

.searchBar {
  padding: 10px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(43, 24, 163),
                 5px 5px 5px rgb(147, 153, 158);
}

.searchButton {
  background-color: #2B18A3;
  color: #FBF9F8;
  border-radius: 7px;
  margin: 0 10px;
  padding: 8px 12px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 120px;
  font-size: 1.5em;
  box-shadow: 5px 5px 5px rgb(43, 24, 163),
                 5px 5px 5px rgb(147, 153, 158);
}

.recipes {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 600px) {
  .searchBar, .searchButton {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
  }
  .searchButton {
    margin-top: 10px;
  }
}