.footer {
    width: 100%;
    min-height: 200px;
    max-height: 500px;
}

.footer-body {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    color: #FBF9F8;
    font-weight: bold;
}

.about {
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 2;
    width: 30%;
}

.social {
    width: 30%;
    text-align: center;
}
.social li {
    display: inline-block;
    color: #f353d5;
    font-size: 4em;
}

.social li:hover {
    color: #e9d8e1;
    transition: 0.3s ease-in-out;
}

.contact {
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 30%;
}

.contact-email {
    letter-spacing: 2px;
    color: #f353d5;
    font-size: 1.3em;
}


@media (max-width: 1200px) {
    .about, .contact {
        font-size: 1em;
    }
}
@media (max-width: 1240px) {
    .footer-body {
        display: block;
    }
    .about, .contact, .social {
        width: 100%;
        text-align: left;
    }
    .social {
        margin-left: -50px;
    }
    .social li {
        padding: 0;
    }
}
@media (max-width: 600px) {
    .social li {
        font-size: 3em;
    }
}
@media (max-width: 450px) {
    .contact-email {
        font-size: 1em;
    }
}