.clicked-active {
    display: block;
}

.clicked {
    display: none;
}

.recipe {
    padding: 50px 30px;
    width: 30%;
    display: inline-block;
    margin: 0 auto;
}

.recipe-title {
    color: #FBF9F8;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Corben', cursive;
    margin: 0 auto;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(43, 24, 163),
                 5px 5px 5px rgb(147, 153, 158);
    height: 80px;
}

.recipe img {
    border-radius: 50%;
    border: 10px double #FBF9F8;
    margin: 20px auto;
    height: 300px;
    width: auto;
}

.recipe button {
    background-color: #f353d5;
    color: #FBF9F8;
    border-radius: 7px;
    border: 3px solid #2b18a3;
    box-shadow: 5px 5px 8px rgba(43, 24, 163, 0.5);
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    width: 150px;
    font-size: 1.2em;
}

.recipe button:hover {
    background-color: rgba(43, 24, 163,0.7);
    transition: 0.3s ease;
}
/*
#FBF9F8 white
#e9d8e1 grey
#f353d5 hot pink
#88c9fa baby blue
#2b18a3 blue
*/
.recipe button:active {
    background-color: #2b18a3;
}

.recipe-content {
    background-color: rgba(136, 201, 250, 0.7);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.type, .calories, .caution {
    color: #2b18a3;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}

.recipe ul {
    background-color: rgba(43, 24, 163, 0.7);
    color: #FBF9F8;
    font-weight: bold;
    font-size: 1em;
    border-radius: 6px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    letter-spacing: 1px;
}

.ingredients li {
    color: #FBF9F8;
    font-weight: normal;
    list-style: none;
    padding: 8px 0;
    text-align: start;
}
@media (max-width: 1200px) {
    .recipe {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recipe img {
        height: 400px;
    }
}
@media (max-width: 900px) {
    .recipe img {
        height: 300px;
    }
}
@media (max-width: 750px) {
    .recipe-title {
        font-size: 1em;
    }
    .recipe img {
        height: 280px;
    }
    .recipe button {
        font-size: 1em;
    }
}
@media (max-width: 500px) {
    .recipe img {
        height: 250px;
    }
}
@media (max-width: 400px) {
    .recipe img {
        height: 200px;
    }
}